<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.sifive.gnumcueclipse.debug.gdbjtag.openocd.launchConfigurationType">
    <mapAttribute key="FS.SB.ElementsRefreshState">
        <mapEntry key="/cpus/cpu@0/csrs/marchid" value="true"/>
        <mapEntry key="/cpus/cpu@0/csrs/mcause" value="true"/>
        <mapEntry key="/cpus/cpu@0/csrs/mepc" value="true"/>
        <mapEntry key="/cpus/cpu@0/csrs/mhartid" value="true"/>
        <mapEntry key="/cpus/cpu@0/csrs/mie" value="true"/>
        <mapEntry key="/cpus/cpu@0/csrs/mimpid" value="true"/>
        <mapEntry key="/cpus/cpu@0/csrs/mip" value="true"/>
        <mapEntry key="/cpus/cpu@0/csrs/misa" value="true"/>
        <mapEntry key="/cpus/cpu@0/csrs/mscratch" value="true"/>
        <mapEntry key="/cpus/cpu@0/csrs/mstatus" value="true"/>
        <mapEntry key="/cpus/cpu@0/csrs/mtval" value="true"/>
        <mapEntry key="/cpus/cpu@0/csrs/mtvec" value="true"/>
        <mapEntry key="/cpus/cpu@0/csrs/mvendorid" value="true"/>
        <mapEntry key="/cpus/cpu@0/csrs/priv" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/a0" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/a1" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/a2" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/a3" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/a4" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/a5" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/a6" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/a7" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/fp" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/gp" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/pc" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/ra" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/s1" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/s10" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/s11" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/s2" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/s3" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/s4" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/s5" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/s6" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/s7" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/s8" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/s9" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/sp" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/t0" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/t1" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/t2" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/t3" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/t4" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/t5" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/t6" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/tp" value="true"/>
        <mapEntry key="/cpus/cpu@0/gprs/zero" value="true"/>
        <mapEntry key="/peripherals/riscv_clint0_0/msip_0" value="false"/>
        <mapEntry key="/peripherals/riscv_clint0_0/mtime" value="false"/>
        <mapEntry key="/peripherals/riscv_clint0_0/mtimecmp_0" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/claimplete_0" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/enable_0_0" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/enable_1_0" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/pending_0" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/pending_1" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_1" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_10" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_11" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_12" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_13" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_14" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_15" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_16" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_17" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_18" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_19" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_2" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_20" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_21" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_22" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_23" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_24" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_25" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_26" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_27" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_28" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_29" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_3" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_30" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_31" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_32" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_33" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_34" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_35" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_36" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_37" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_38" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_39" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_4" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_40" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_41" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_42" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_43" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_44" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_45" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_46" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_47" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_48" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_49" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_5" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_50" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_51" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_52" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_6" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_7" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_8" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/priority_9" value="false"/>
        <mapEntry key="/peripherals/riscv_plic0_0/threshold_0" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/aoncfg" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/backup_0" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/backup_1" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/backup_10" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/backup_11" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/backup_12" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/backup_13" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/backup_14" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/backup_15" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/backup_2" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/backup_3" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/backup_4" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/backup_5" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/backup_6" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/backup_7" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/backup_8" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/backup_9" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/lfclkmux" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/lfrosccfg" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/pmucause" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/pmuie" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/pmukey" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/pmusleep" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/pmusleepi0" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/pmusleepi1" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/pmusleepi2" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/pmusleepi3" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/pmusleepi4" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/pmusleepi5" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/pmusleepi6" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/pmusleepi7" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/pmuwakeupi0" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/pmuwakeupi1" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/pmuwakeupi2" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/pmuwakeupi3" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/pmuwakeupi4" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/pmuwakeupi5" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/pmuwakeupi6" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/pmuwakeupi7" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/rtccfg" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/rtccmp0" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/rtccounthi" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/rtccountlo" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/rtcs" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/wdogcfg" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/wdogcmp0" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/wdogcount" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/wdogfeed" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/wdogkey" value="false"/>
        <mapEntry key="/peripherals/sifive_aon0_0/wdogs" value="false"/>
        <mapEntry key="/peripherals/sifive_fe310_g000_prci_0/hfrosccfg" value="false"/>
        <mapEntry key="/peripherals/sifive_fe310_g000_prci_0/hfxosccfg" value="false"/>
        <mapEntry key="/peripherals/sifive_fe310_g000_prci_0/pllcfg" value="false"/>
        <mapEntry key="/peripherals/sifive_fe310_g000_prci_0/plloutdiv" value="false"/>
        <mapEntry key="/peripherals/sifive_fe310_g000_prci_0/procmoncfg" value="false"/>
        <mapEntry key="/peripherals/sifive_gpio0_0/ds" value="false"/>
        <mapEntry key="/peripherals/sifive_gpio0_0/fall_ie" value="false"/>
        <mapEntry key="/peripherals/sifive_gpio0_0/fall_ip" value="false"/>
        <mapEntry key="/peripherals/sifive_gpio0_0/high_ie" value="false"/>
        <mapEntry key="/peripherals/sifive_gpio0_0/high_ip" value="false"/>
        <mapEntry key="/peripherals/sifive_gpio0_0/input_en" value="false"/>
        <mapEntry key="/peripherals/sifive_gpio0_0/input_val" value="false"/>
        <mapEntry key="/peripherals/sifive_gpio0_0/iof_en" value="false"/>
        <mapEntry key="/peripherals/sifive_gpio0_0/iof_sel" value="false"/>
        <mapEntry key="/peripherals/sifive_gpio0_0/low_ie" value="false"/>
        <mapEntry key="/peripherals/sifive_gpio0_0/low_ip" value="false"/>
        <mapEntry key="/peripherals/sifive_gpio0_0/out_xor" value="false"/>
        <mapEntry key="/peripherals/sifive_gpio0_0/output_en" value="false"/>
        <mapEntry key="/peripherals/sifive_gpio0_0/output_val" value="false"/>
        <mapEntry key="/peripherals/sifive_gpio0_0/pue" value="false"/>
        <mapEntry key="/peripherals/sifive_gpio0_0/rise_ie" value="false"/>
        <mapEntry key="/peripherals/sifive_gpio0_0/rise_ip" value="false"/>
        <mapEntry key="/peripherals/sifive_pwm0_0/pwmcfg" value="false"/>
        <mapEntry key="/peripherals/sifive_pwm0_0/pwmcmp0" value="false"/>
        <mapEntry key="/peripherals/sifive_pwm0_0/pwmcmp1" value="false"/>
        <mapEntry key="/peripherals/sifive_pwm0_0/pwmcmp2" value="false"/>
        <mapEntry key="/peripherals/sifive_pwm0_0/pwmcmp3" value="false"/>
        <mapEntry key="/peripherals/sifive_pwm0_0/pwmcount" value="false"/>
        <mapEntry key="/peripherals/sifive_pwm0_0/pwms" value="false"/>
        <mapEntry key="/peripherals/sifive_pwm0_1/pwmcfg" value="false"/>
        <mapEntry key="/peripherals/sifive_pwm0_1/pwmcmp0" value="false"/>
        <mapEntry key="/peripherals/sifive_pwm0_1/pwmcmp1" value="false"/>
        <mapEntry key="/peripherals/sifive_pwm0_1/pwmcmp2" value="false"/>
        <mapEntry key="/peripherals/sifive_pwm0_1/pwmcmp3" value="false"/>
        <mapEntry key="/peripherals/sifive_pwm0_1/pwmcount" value="false"/>
        <mapEntry key="/peripherals/sifive_pwm0_1/pwms" value="false"/>
        <mapEntry key="/peripherals/sifive_pwm0_2/pwmcfg" value="false"/>
        <mapEntry key="/peripherals/sifive_pwm0_2/pwmcmp0" value="false"/>
        <mapEntry key="/peripherals/sifive_pwm0_2/pwmcmp1" value="false"/>
        <mapEntry key="/peripherals/sifive_pwm0_2/pwmcmp2" value="false"/>
        <mapEntry key="/peripherals/sifive_pwm0_2/pwmcmp3" value="false"/>
        <mapEntry key="/peripherals/sifive_pwm0_2/pwmcount" value="false"/>
        <mapEntry key="/peripherals/sifive_pwm0_2/pwms" value="false"/>
        <mapEntry key="/peripherals/sifive_spi0_0/csdef" value="false"/>
        <mapEntry key="/peripherals/sifive_spi0_0/csid" value="false"/>
        <mapEntry key="/peripherals/sifive_spi0_0/csmode" value="false"/>
        <mapEntry key="/peripherals/sifive_spi0_0/delay0" value="false"/>
        <mapEntry key="/peripherals/sifive_spi0_0/delay1" value="false"/>
        <mapEntry key="/peripherals/sifive_spi0_0/extradel" value="false"/>
        <mapEntry key="/peripherals/sifive_spi0_0/fctrl" value="false"/>
        <mapEntry key="/peripherals/sifive_spi0_0/ffmt" value="false"/>
        <mapEntry key="/peripherals/sifive_spi0_0/fmt" value="false"/>
        <mapEntry key="/peripherals/sifive_spi0_0/ie" value="false"/>
        <mapEntry key="/peripherals/sifive_spi0_0/ip" value="false"/>
        <mapEntry key="/peripherals/sifive_spi0_0/rxdata" value="false"/>
        <mapEntry key="/peripherals/sifive_spi0_0/rxmark" value="false"/>
        <mapEntry key="/peripherals/sifive_spi0_0/sampledel" value="false"/>
        <mapEntry key="/peripherals/sifive_spi0_0/sckdiv" value="false"/>
        <mapEntry key="/peripherals/sifive_spi0_0/sckmode" value="false"/>
        <mapEntry key="/peripherals/sifive_spi0_0/txdata" value="false"/>
        <mapEntry key="/peripherals/sifive_spi0_0/txmark" value="false"/>
        <mapEntry key="/peripherals/sifive_uart0_0/div" value="false"/>
        <mapEntry key="/peripherals/sifive_uart0_0/ie" value="false"/>
        <mapEntry key="/peripherals/sifive_uart0_0/ip" value="false"/>
        <mapEntry key="/peripherals/sifive_uart0_0/rxctrl" value="false"/>
        <mapEntry key="/peripherals/sifive_uart0_0/rxdata" value="false"/>
        <mapEntry key="/peripherals/sifive_uart0_0/txctrl" value="false"/>
        <mapEntry key="/peripherals/sifive_uart0_0/txdata" value="false"/>
    </mapAttribute>
    <stringAttribute key="FS.SB.FloatingPointDisplayFormat" value=""/>
    <mapAttribute key="FS.SB.GlobalsActivationState"/>
    <listAttribute key="FS.SB.LiveWatchElements"/>
    <intAttribute key="FS.SB.LiveWatchUpdateInterval" value="100"/>
    <listAttribute key="FS.SB.MemoryMapMonitors"/>
    <intAttribute key="FS.SB.MemoryMapNameCounter" value="1"/>
    <mapAttribute key="FS.SB.MemoryMonitorsElementType"/>
    <mapAttribute key="FS.SB.MemoryMonitorsElementWidth"/>
    <mapAttribute key="FS.SB.MemoryMonitorsMonitorAddress"/>
    <mapAttribute key="FS.SB.MemoryMonitorsMonitorSize"/>
    <mapAttribute key="FS.SB.VectorRegistersElementType"/>
    <mapAttribute key="FS.SB.VectorRegistersElementWidth"/>
    <mapAttribute key="FS.SB.VectorRegistersVLenB"/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.DeviceTreeArch" value="riscv:rv32"/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.DeviceTreeCore" value="cpu@0"/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.DeviceTreeExpr" value="C:\VSD\FreedomStudio-3-1-1-x86_64-w64-mingw32\FreedomStudio-3-1-1\SiFive\freedom-e-sdk-v21.11.00.00\bsp\sifive-hifive1\design.dts"/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.DeviceTreeHwBp" value="4"/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.DeviceTreeNumC" value="1"/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.FpgaImageExpr" value=""/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.HwBreakpointLimit" value=""/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.NumCores" value=""/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.RegisterListExpr" value="${bsp_reglist}"/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.TargetArch" value=""/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.baudRate" value=""/>
    <booleanAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.cacheTriggers" value="true"/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.dataBits" value=""/>
    <booleanAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.openSerialPort" value="true"/>
    <booleanAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.openocd.doContinue" value="true"/>
    <booleanAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.openocd.doDebugInRam" value="false"/>
    <booleanAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.openocd.doFirstReset" value="true"/>
    <booleanAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.openocd.doGdbServerAllocateConsole" value="true"/>
    <booleanAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.openocd.doGdbServerAllocateTelnetConsole" value="true"/>
    <booleanAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.openocd.doSecondReset" value="false"/>
    <booleanAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.openocd.doStartGdbCLient" value="true"/>
    <booleanAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.openocd.doStartGdbServer" value="true"/>
    <booleanAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.openocd.doUseDtsMemMap" value="false"/>
    <booleanAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.openocd.enableSemihosting" value="true"/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.openocd.externalAuthenticationCommand" value=""/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.openocd.firstResetType" value="init"/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.openocd.gdbClientOtherCommands" value=""/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.openocd.gdbClientOtherOptions" value=""/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.openocd.gdbServerConfigScript" value="C:\VSD\FreedomStudio-3-1-1-x86_64-w64-mingw32\FreedomStudio-3-1-1\SiFive\freedom-e-sdk-v21.11.00.00\bsp\sifive-hifive1\openocd.cfg"/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.openocd.gdbServerConnectionAddress" value=""/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.openocd.gdbServerExecutable" value="${openocd_gdbserver}"/>
    <intAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.openocd.gdbServerGdbPortNumber" value="3333"/>
    <intAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.openocd.gdbServerLaunchTimeout" value="15"/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.openocd.gdbServerLog" value=""/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.openocd.gdbServerOther" value=""/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.openocd.gdbServerSysCPortNumber" value="7777"/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.openocd.gdbServerTclPortNumber" value="6666"/>
    <intAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.openocd.gdbServerTelnetPortNumber" value="4444"/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.openocd.jtagConnection" value="JTAG Probe"/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.openocd.jtagTransport" value="JTAG"/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.openocd.otherInitCommands" value=""/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.openocd.otherRunCommands" value=""/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.openocd.secondResetType" value="halt"/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.openocd.secureDmKey" value=""/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.parity" value=""/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.perfcountersConfig" value="Generic Two Counter Setup"/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.perfcountersDisable" value="0"/>
    <booleanAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.persistTriggers" value="true"/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.serialPort" value="&lt;Select digilent port interface 1 at launch&gt;"/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.stopBits" value=""/>
    <booleanAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.traceApplyToAll" value="false"/>
    <stringAttribute key="com.sifive.gnumcueclipse.debug.gdbjtag.traceConfig" value=""/>
    <intAttribute key="num.triggers" value="8"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.imageFileName" value=""/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.imageOffset" value=""/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.ipAddress" value="localhost"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.jtagDevice" value="GNU MCU OpenOCD"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.loadImage" value="true"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.loadSymbols" value="true"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.pcRegister" value=""/>
    <intAttribute key="org.eclipse.cdt.debug.gdbjtag.core.portNumber" value="3333"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.setPcRegister" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.setResume" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.setStopAt" value="true"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.stopAt" value="main"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.symbolsFileName" value=""/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.symbolsOffset" value=""/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useFileForImage" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useFileForSymbols" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useProjBinaryForImage" value="true"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useProjBinaryForSymbols" value="true"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useRemoteTarget" value="true"/>
    <stringAttribute key="org.eclipse.cdt.dsf.gdb.DEBUG_NAME" value="${openocd_gdbclient}"/>
    <booleanAttribute key="org.eclipse.cdt.dsf.gdb.UPDATE_THREADLIST_ON_SUSPEND" value="false"/>
    <intAttribute key="org.eclipse.cdt.launch.ATTR_BUILD_BEFORE_LAUNCH_ATTR" value="2"/>
    <stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_SPECIFIC_ATTRS_MAP" value=""/>
    <stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="src\debug\hello.elf"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="Sentence_Boundary_Disambiguation"/>
    <booleanAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_AUTO_ATTR" value="false"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value=""/>
    <booleanAttribute key="org.eclipse.cdt.launch.use_terminal" value="true"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Sentence_Boundary_Disambiguation"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
    <stringAttribute key="org.eclipse.dsf.launch.MEMORY_BLOCKS" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;memoryBlockExpressionList context=&quot;Context string&quot;/&gt;&#13;&#10;"/>
    <stringAttribute key="process_factory_id" value="org.eclipse.cdt.dsf.gdb.GdbProcessFactory"/>
    <stringAttribute key="trigger.indexes" value="0,1,2,3,4,5,6,7"/>
    <stringAttribute key="trigger.type.0" value="TYPE_ADDR_DATA_MATCH"/>
    <stringAttribute key="trigger.type.1" value="TYPE_ADDR_DATA_MATCH"/>
    <stringAttribute key="trigger.type.2" value="TYPE_ADDR_DATA_MATCH"/>
    <stringAttribute key="trigger.type.3" value="TYPE_ADDR_DATA_MATCH"/>
    <stringAttribute key="trigger.type.4" value="TYPE_ADDR_DATA_MATCH"/>
    <stringAttribute key="trigger.type.5" value="TYPE_ADDR_DATA_MATCH"/>
    <stringAttribute key="trigger.type.6" value="TYPE_ADDR_DATA_MATCH"/>
    <stringAttribute key="trigger.type.7" value="TYPE_ADDR_DATA_MATCH"/>
</launchConfiguration>
